/* Add custom styles to main.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #000!important; /* Updated background color */
    color: #000; /* Updated text color */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Profile Section */
#profile-wrapper {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 15px; /* Center the image horizontally */
}

/* Social Links */
.social-links ul,
.social-links li {
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.social {
    width: 20px;
    height: 20px;
    margin: 0 5px; /* Add margin between social icons */
}

/* Projects Section */
.project-card,
.goal-card,
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.project-card h6 {
    margin-top: 0;
    color: #28a745;
}

.goal-card h5 {
    color: #dc3545;
}

.card h5 {
    color: #000;
}

/* Responsive Design */
@media (max-width: 768px) {
    .card,
    .project-card,
    .goal-card {
        margin-bottom: 15px;
    }
}


/* Global Styles */

/* Rest of your CSS styles remain unchanged */
